@import '../../scss/index.scss';

@mixin selected {
  background-color: #313d48;
}

.link-container{
  @include container-flex(row);
  border: 1px solid; 
  list-style: none;
  width: 250px;
  a {
    text-decoration: none;
    color: white;
  }
}

.watch, .portfolio {
  width: 50%;
  padding: 1em;
  height: 100%;
  border: 1px solid;
  text-align: center;
  &:hover {
    border: 1px solid $white;
    background-color: #5d7386;
  }
}

.watch-selected {
  @extend .watch;
  @include selected();
}

.portfolio-selected {
  @extend .portfolio;
  @include selected();
}
