@import '../../scss/index';

.container {
  @include container-flex(column);
  max-width: 60em;
  padding: 1em;
  width: 100%;
  background-color: $background-color;
}

.std-button {
  border-radius: 10px;
  padding: 1em;
  border: 2px solid blue;
  font-size: 1rem;

  &:hover {
    color: red;
  }
}

.list {
  width: 100%;
  list-style: none;
  padding: 1em;
}
