@import '../src/scss/index.scss';

.home-container {
  @include basic-font();
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: $background-color;
  height: 100vh;
}
