@import '../../scss/index';

.buys-list {
  padding: 0;
  border-top: 1px solid $white;
  border-bottom: none;
}

.ticker-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid $white;
  &:not(:first-of-type) {
    border-top: none;
  }
}

.ticker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  align-items: center;
}

.col-value {
  justify-self: flex-end;
}

.cell-add-trade {
  @include container-flex();
  list-style: none;
  border-top: 1px solid $white;
  justify-content: flex-start;
  color: #ffffff80;
  padding: 0.25em;
  
  button {
    width: 100%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1em;
    color: $white;
  }
}

.row-container {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
}
