@import '../../scss/index';

.buys-list {
  padding: 0;
  border-top: 1px solid $white;
  border-bottom: none;
}

.ticker-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid $white;
  &:not(:first-of-type) {
    border-top: none;
  }
}

.ticker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
}

.list-item {
  padding: 1em;  
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid $white;
  &:first-of-type {
    border-top: none;
  }
}

.button-remove {
  background-color: #00000040;
  width: 40px;
  justify-self: flex-end;
  border: none;
  span {

  }
}

.col-value {
  justify-self: flex-end;
}

.cell-add-trade {
  @include container-flex();
  list-style: none;
  border-top: 1px solid $white;
  justify-content: flex-start;
  padding: 1em;
  color: #ffffff80;
}
