@mixin container-flex($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin basic-font{
  color: $white;
  font-family: $base-font;
}
